.inbox-content {
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 40px;
  background-color: #fff;
}
.inputWidth {
  width: 80%;
}
.w-form {
  width: 100% !important;
}
@media (min-width: 1200px) {
  .w-form {
    width: 50% !important;
  }
}
