@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

td {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
}

.navbar {
  font-weight: bolder;
  font-size: 1.25rem;
}
.w-85 {
  width: 85% !important;
}

.border-sd-1 {
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.5);
}

.border-sd-2 {
  border-radius: 6px;
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
}
.border-sd-2:hover {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
}

.font-bolder {
  font-weight: bolder;
}
.font-extra-huge {
  font-size: 3.8rem;
}
.text-light-green {
  color: #86abf9;
}
#lg-text {
  display: none !important;
}
@media (min-width: 1000px) {
  #lg-text {
    display: block !important;
  }
}

@media (min-width: 1400px) {
  .w-half {
    width: 50% I !important;
  }
}
.w-half {
  width: 95% !important;
}
.nav-l {
  width: 95% !important;
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn-light-blue {
  margin: 0 10px;
  width: 6rem;
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: #6893ee;
  color: white !important;
  transition: all 0.2s ease-in-out;
}

.btn-light-blue:hover {
  background-color: white;
  color: black !important;
}

.btn-create {
  background-color: white;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.btn-manage {
  background-color: black;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.btn-manage:hover {
  background-color: #6893ee;
}

.btn-create:hover {
  background-color: #6893ee;
}
.btn-create h3 {
  color: black;
}
.btn-manage h3 {
  color: white;
}

.btn-create h3,
.btn-manage h3 {
  font-family: "Secular One", sans-serif !important;
}
.nav-item div:hover {
  cursor: grab;
}

.user {
  margin-left: 10px;
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.pf {
  background-image: url("../assets/profile.png");
}
.cus-dropdown {
  position: relative;
  top: 63px;
  right: 45px;
  width: 120px;
}
.h-15 {
  height: 50px;
}
.h-15 h5 {
  font-family: "Secular One", sans-serif !important;
}

.bg-logout {
  padding-top: 5px;
  background-color: #ff0000 !important;
}

.bg-logout:hover {
  background-color: white !important;
  color: black !important;
}
.d-show {
  display: block !important;
}
.d-none {
  display: none !important;
}
