.border-style {
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
}
.sign-container {
  width: 40% !important;
}
.overlay-container {
  width: 60% !important;
}
#s-id * {
  font-family: "Secular One", sans-serif !important;
}
.btn-40 {
  height: 40px !important;
}

#s-id input {
  height: 50px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  width: 75% !important;
}

@media (min-width: 1400px) {
  .w-half {
    width: 50% I !important;
  }
}
